.logoimg{
    height:50px
}
.nav1{
    font-weight: 600;
    color: white;
    background-color:rgb(15, 15, 54);
}
.cart-logo , .user{
    height: 40px;
}
.nav-link{
    cursor: pointer;
}

.navbar-container{
    z-index: 1;
}