.login-main{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px ;
    padding: 15px;
}
.login{
    display: flex;
    flex-direction: row;
     margin: 50px;
    box-shadow: 2px 4px 4px 5px lightgrey;
    width: 900px;
    border-radius: 20px;
}
.login-img{
    height: 300px;
    width: 350px;
    margin: 20px;
    border-radius: 20px;
}
.info{
    font-size: 25px;
   text-align: center;
 
   padding: 5px;
   margin-top: 100px;

}
.text{
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgb(97, 94, 94);
}

.button{
    border-radius: 25px;
    background-color: rgb(98, 94, 94);
    color: white;
    margin: 5px;
    padding: 7px;
}

@media screen and (max-width:600px) {
    .about{
        flex-wrap: wrap;
        width: 300px;
        height: 600px;
        margin: 20px;
    }
    .about-img{
        width: 260px;
        height: 230px;
    }
}