.blog-image{
    height: 400px;
    opacity: 1.9;
    background-image: no-repeat;
    width: 100%;
    background-image:linear-gradient(rgba(52, 64, 241, 0.9), rgba(86, 61, 248, 0.8)), url(footer1.png);
}

.blog-text:hover{
   color: white; 
   cursor: pointer;
 
}
.blog-text{
    font-size: 140px;
    position: relative;
    top:100px;
    text-align: center;
    color: orange;
  }
.image-blog{
    margin-top: -25px;
    height: 230px;
    width:370px;
    }

.blog-button{
    background-color: orange;
    text-decoration:  none;
   
    font-size: 20px;
    border-radius: 14px;
    padding: 5px;
    margin: 2px 5px 3px 1px;
    cursor: pointer;
    
}


.blog-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

