.main-readbike-container{
    height:100%;
    width: 70%;
    margin-left: 200px;
 
}
.read-bikedata{
    display: flex;
   
}
.bike-img{
   margin: 100px;

}
.box-readbikedata{
    background-color: #8fa2f0;
}
.imgreadbike{
    height: 300px;
    margin-top: 30px;
}
.readbikedata-content{
    margin-top: 70px;
    margin-left: 80px;
}
.readbike-bikeprice{
    margin: 80px;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 5px;
    
}
.readbike-addtocard{
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orange;
    border-radius: 1px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 45px;
    margin-top: 3px;
   
}
.description{
    margin-left: 50px;
}