.footer-container{
    display: flex;
    justify-content: space-between;
   
     color: white;
}
.footer-link{
    text-decoration: none;
    text-align: center;
    color: white;
}
.footer-image{
    /* background-image: linear-gradient(rgba(99, 97, 124, 0.9), rgba(109, 105, 136, 0.8)), url("footer.png"); */
 height: 400px;
 /* opacity: 0.9; */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(15, 15, 54);
    
}
.position-footer{
    position: relative;
    left: 50px;
    
}
.get-cursor{
cursor: pointer;
}
.bike-text{
    color: white;
    cursor: pointer;
}


@media screen and (min-width: 600px) and (max-width: 800px){
    .footer-image {
        /* background-image: linear-gradient(rgba(99, 97, 124, 0.9), rgba(109, 105, 136, 0.8)), url("footer.png"); */
        height: 1170px;
        opacity: 0.9;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        background-color: rgb(15, 15, 54);
      }

      .position-footer {
        position: relative;
        left: 137px;
      }
      .bike-text{
        color: white;
        margin-right: 270px;
    }

   



}