.read-text-blog{
    border: 0px solid rgb(3, 3, 58) ;
    box-shadow: 1px 1px 1px 1px rgb(3, 3, 58);
    width: 80%;
    /* height: 700px; */
    margin-left: 140px;
    background-color: white;
    color: rgb(8, 8, 44);
}
.blog-image{
    height: 400px;
    opacity: 1.9;
    background-image: no-repeat;
    width: 100%;
    background-image:linear-gradient(rgba(72, 70, 97, 0.9), rgba(78, 76, 93, 0.8)), url(./../Footer/footer1.png);
}
.read-img{
    display: flex;
   margin-left:120px; 
    width: 80%;
    height: 500px;
    transition: border-color .2s;
   
}
.orange{
    color: rgb(237, 157, 7);
}
.read-text{
    text-align: center;
    color:rgb(14, 14, 57)  ;
}


@media screen and (min-width: 600px) and (max-width: 800px) {
.read-text-blog {
    border: 0px solid rgb(3, 3, 58);
    box-shadow: 0px 1px 2px 2px rgb(3, 3, 58);
    width: 80%;
    border-bottom: 0px solid black;
    margin-left: 56px;
    background-color: rgb(252, 249, 249);
  }

  .read-img {
    display: flex;
    margin-left: 52px;
    width: 80%;
    height: 363px;
    
  }
}